* {
  box-sizing: border-box;
}
.e3dc-card {
  width: 380px;
}

.grid-container {
  display: grid;
  grid-template-columns: 130px 100px 130px;
  gap: 0.5em;
  padding: 1em;
}

p {
  text-align: center;
  margin: 4px 0 4px 0;
}

.grid-header {
  visibility: hidden;
  grid-column-start: 1;
  grid-column-end: 4;
}

.overview {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.bar-container {
  display: block;
  width: 100%;
  height: 50%;
}

.bar-container > div {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

.item > div {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 50%;
  border: gray 1px solid;
  border-radius: 1em;
  float: left;
}

.icon > svg {
  width: 40px;
  display: block;
  margin: 0.25em auto 0 auto;
}

.value {
  padding: 0 0 0 4px;
}

.item:nth-child(2n) > .icon {
  float: right;
}

/**************
ARROW ANIMATION
**************/
.arrow > div {
  display: inline-block;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 17px solid #e3e3e3;
  border-bottom: 8px solid transparent;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 17px solid #e3e3e3;
  border-bottom: 8px solid transparent;
}

@keyframes flash_triangles {
  0%,
  66% {
    border-left-color: #e3e3e3;
    border-right-color: #e3e3e3;
  }
  33% {
    border-left-color: #555;
    border-right-color: #555;
  }
}
#arrow_1 {
  animation: flash_triangles 3s infinite steps(1);
}

#arrow_2 {
  animation: flash_triangles 3s infinite 1s steps(1);
}

#arrow_3 {
  animation: flash_triangles 3s infinite 2s steps(1);
}
